.reveal h1,
.reveal h2,
.reveal h3,
.reveal h4,
.reveal h5,
.reveal h6 {
  text-transform: none
}
.reveal section {
  text-align: left;
}
* {
  font-family: 'Inconsolata' !important
}
.reveal section img {
  border: none;
  box-shadow: none;
  background: none;
}

.sw-d {
  display: block;
  position: relative;
  width:1280px;
  height: 720px;
  /*background-color: rgba(255,0,0,0.3);*/
}

.sw-d-browser, .sw-d-js, .sw-d-ww, .sw-d-sw {
  position: absolute;
  left:50%;
  top:50%;
  transform: translate(-50%, -40%);
  opacity: 0;
  transition: .5s
}
.sw-code-ww, .sw-code-sw {
  opacity: 0;
  transform: translateX(50%);
}


.state-first .sw-d-browser{
  transform: translate(-50%, -50%);
  opacity: 1;
}

.state-js .sw-d-browser{
  transform: translate(-50%, -50%);
  opacity: 1;
}
.state-js .sw-d-js{
  transform: translate(-50%, -50%);
  opacity: 1;
}


.state-ww .sw-d-browser{
  transform: translate(-50%, -55%) translateX(-300px);
  opacity: 1;
}
.state-ww .sw-d-js{
  transform: translate(-50%, -60%) translateX(-300px) scale(0.5);
  opacity: 1;
}
.state-ww .sw-d-ww{
  transform: translate(-50%, 50%) translateX(-300px) translateY(0px);
  opacity: 1;
}

.state-ww .sw-code-ww{
  opacity: 1;
  transform: translateX(0%);
}



.state-sw .sw-d-browser{
  transform: translate(-50%, -50%) translateX(-300px) translateY(-100px) scale(0.8);
  opacity: 1;
}
.state-sw .sw-d-js{
  transform: translate(-50%, -50%) translateX(-300px)  translateY(-90px) scale(0.5);
  opacity: 1;
}
.state-sw .sw-d-ww{
  transform: translate(-50%, -50%) translateX(-300px) translateY(50px) scale(0.8);
  opacity: 1;
}
.state-sw .sw-d-sw{
  transform: translate(-50%, -50%) translateX(-300px) translateY(200px) scale(0.9);
  opacity: 1;
}
.state-sw .sw-code-sw{
  opacity: 1;
  transform: translateX(0%);
}

.state-sw2 .sw-d-browser{
  transform: translate(-50%, -50%) translateY(-120px) scale(0.3);
  opacity: 0.5;
}
.state-sw2 .sw-d-js{
  transform: translate(-50%, -50%)  translateY(-100px) scale(0.2);
  opacity: 0.5;
}
.state-sw2 .sw-d-ww{
  transform: translate(-50%, -50%) translateY(-40px) scale(0.2);
  opacity: 0.5;
}
.state-sw2 .sw-d-sw{
  transform: translate(-50%, -50%) translateY(100px) scale(0.9);
  opacity: 1;
}




.reveal section .sw-d pre{
  position: absolute;
  width: 35%;
  right: 0;
  display:block;
  /*background: red;*/
  height: 100%;
  box-shadow: none;
}








/*
translate(-50%, -70%) scale(0.9)
*/





.reveal pre code {
  background: none;
  color: inherit;
}


.reveal pre.sw {
  margin:0;
  box-shadow: none;
  font-size: 1em;
}


h2.party {
  background: rgba(255,255,255,0.6);
  padding: 1em;
}

/*

github.com style (c) Vasily Polovnyov <vast@whiteants.net>

*/

.hljs {
  display: block;
  overflow-x: auto;
  padding: 0.5em;
  color: #333;
  background: #f8f8f8;
}

.hljs-comment,
.hljs-quote {
  color: #998;
  font-style: italic;
}

.hljs-keyword,
.hljs-selector-tag,
.hljs-subst {
  color: #333;
  font-weight: bold;
}

.hljs-number,
.hljs-literal,
.hljs-variable,
.hljs-template-variable,
.hljs-tag .hljs-attr {
  color: #008080;
}

.hljs-string,
.hljs-doctag {
  color: #d14;
}

.hljs-title,
.hljs-section,
.hljs-selector-id {
  color: #900;
  font-weight: bold;
}

.hljs-subst {
  font-weight: normal;
}

.hljs-type,
.hljs-class .hljs-title {
  color: #458;
  font-weight: bold;
}

.hljs-tag,
.hljs-name,
.hljs-attribute {
  color: #000080;
  font-weight: normal;
}

.hljs-regexp,
.hljs-link {
  color: #009926;
}

.hljs-symbol,
.hljs-bullet {
  color: #990073;
}

.hljs-built_in,
.hljs-builtin-name {
  color: #0086b3;
}

.hljs-meta {
  color: #999;
  font-weight: bold;
}

.hljs-deletion {
  background: #fdd;
}

.hljs-addition {
  background: #dfd;
}

.hljs-emphasis {
  font-style: italic;
}

.hljs-strong {
  font-weight: bold;
}
